body {
  height: 100vh;
  margin: 0;
  background-color: black;
}
ul {
  display: flex;
}
li {
  margin: 0 30px;
}
#field-container {
  display: grid;
  grid-template-columns: 3fr 30fr 3fr;
  grid-template-rows: 15fr;
  height: 70%;
  border: 3px solid purple;
}
#endzone1 {
  grid-area: 1 / 1 / span 1 / span 1;
  background-color: blue;
}
#endzone2 {
  grid-area: 1 / 3 / span 1 / span 1;
  background-color: red;
}
#field {
  grid-area: 1 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-color: gray;
}
.field-square {
  display: flex;
  justify-content: center;
  z-index: 4;
  align-items: center;
  background-color: green;
  border: 1px solid black;
}
.game-piece {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 30%;
  height: 30%;
  border: 0.75vmin solid yellow;
  border-radius: 50%;
  background-color: orange;
}
.game-piece:hover {
  background-color: darkorange;
}
#team1 {
  border-color: red;
}
#team1:hover {
  border-color: darkred;
}
#team2 {
  border-color: blue;
}
#team2:hover {
  border-color: darkblue;
}
